@import '../../styles/fonts.scss';
@import '../../styles/color.scss';

.container {
  background: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  border-width: 0.5px;
  border-color: $DarkCyan;
  border-style: solid;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  position: relative;
  box-shadow: 0 8px 15px $Cyan;
}

.formFeild {
  display: flex;
  flex-direction: row;
}

.inputCard {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.icon {
  height: 15px;
}

.percentageButton {
  margin: 3rem 0;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  margin: 0.5rem;
  background-color: $LightGrayishCyan;
  height: 50px;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  font-family: $primary;
  font-weight: 700;
  color: $Cyan;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
