@import '../../styles/fonts.scss';
@import '../../styles/color.scss';

.button {
  width: 350px;
  height: 50px;
  border-radius: 0.4rem;
  border-style: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: $DarkCyan;
  background-color: $Cyan;
  text-transform: uppercase;
  margin: 7rem 0 1rem;
}
