@import '../../styles/fonts.scss';
@import '../../styles/color.scss';

.container {
  padding: 2rem 2.5rem;
  background-color: $VeryDarkCyan;
  border-radius: 1rem;
  font-family: $primary;
  display: flex;
  flex-direction: column;
}

.amount,
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: $White;
  line-height: 0;
}

.subTitle {
  color: $DarkCyan;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 0;
}

.value {
  color: $StrongCyan;
  font-size: 3rem;
}
