$StrongCyan: hsl(172, 67%, 45%);
$VeryDarkCyan: hsl(183, 100%, 15%);
$Cyan: hsl(184, 71%, 26%);
$DarkCyan: hsl(186, 14%, 43%);
$GrayishCyan: hsl(184, 14%, 56%);
$GrayCyan: hsl(185, 41%, 84%);
$LightGrayishCyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Error: hsl(34, 82%, 45%);
