@import '../../styles/fonts.scss';
@import '../../styles/color.scss';

.mainContainer {
  background: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $primary;
  padding: 5rem;
  width: 100%;
  height: 100%;
  position: relative;

  .containerHeading {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    margin-bottom: 2rem;
    color: $Cyan;
    width: 10%;
  }
}
