@import '../../styles/color.scss';
@import '../../styles/mixin.scss';

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerHeading {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    margin-bottom: 2rem;
    color: $Cyan;
    width: 10%;
}
